<body>
  <nav class="navbar">
    <h3 class="banner">Demo</h3>
    <ul class="nav-links">
      <li><a class="navlink" routerLink="">Home</a></li>
      <li><a class="navlink" routerLink="/addData">Add Data</a></li>
      <li><a class="navlink" routerLink="/getAllData">Get All Data</a></li>
      <li><a class="navlink" routerLink="/getById">Get By Id</a></li>
      <li><a class="navlink" routerLink="/getByName">Get By Name</a></li>
      <li><a class="navlink" routerLink="/getDataForEdit">Edit Data</a></li>
      <li><a class="navlink" routerLink="/deleteData">Delete Data</a></li>
      <li><a class="navlink" routerLink="/practice">Practice</a></li>
    </ul>
  </nav>
</body>
