<div class="container">
  <h1>This is the main head line</h1>
  <h2>this is the second head line</h2>
  <article>
    <p>
      p1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, ad
      sequi eius assumenda enim distinctio dolor a culpa nulla veniam quia
      consectetur numquam modi illo nobis? Soluta est quia ullam. Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Necessitatibus, ullam
      corrupti dolores officiis totam impedit, sint minus fugiat suscipit maxime
      nobis unde sequi omnis, dicta illo autem repellat provident temporibus?
    </p>
    <h3>This is the third head line</h3>

    <p>
      p2 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti modi
      ad aut atque minima animi provident qui beatae. Libero minima voluptatum
      saepe ex labore rerum delectus iste itaque quibusdam doloribus! Lorem
      ipsum dolor sit amet consectetur adipisicing elit. Ratione dignissimos non
      est vitae nemo magnam praesentium tenetur error perspiciatis velit
      quibusdam voluptatum aliquam unde explicabo, labore possimus dolor
      inventore quos.
    </p>

    <h4>This is the 4th head line</h4>

    <ol>
      <li>one</li>
      <li>teo</li>
      <li>three</li>
      <li>four</li>
    </ol>

    <h5>This the 5th head line</h5>

    <ul>
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
    </ul>
  </article>

  <div>
    <ul class="nav-bar">
      <li><a class="nav-link" routerLink="/addData">Add Data</a></li>
      <li><a class="nav-link" routerLink="/getAllData">Get All Data</a></li>
      <li><a class="nav-link" routerLink="/getById">Get By Id</a></li>
      <li><a class="nav-link" routerLink="/getByName">Get By Name</a></li>
      <li><a class="nav-link" routerLink="/getDataForEdit">Edit Data</a></li>
      <li><a class="nav-link" routerLink="/deleteData">Delete Data</a></li>
    </ul>
  </div>
</div>
